* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #3d405b;
}

.poke--header {
  color: #81b29a;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 0.5rem;
  text-align: center;
}

.poke--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.poke--item {
  align-items: center;
  background-color: #f4f1de;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
  padding: 0 1rem;
  width: fit-content;
}

.poke--name {
  color: #3d405b;
  font-weight: 600;
  margin: 8px 0px 0px;
  font-size: 1.15rem;
  line-height: 1.5;
}

.show--more {
  border-radius: 12px;
  font-size: 1.5rem;
  line-height: 1.25rem;
  padding: 0.6rem 1rem;
  background-color: #81b29a;
  transition: 0.2s ease-in-out;
  width: fit-content;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.show--more:hover {
  background-color: #61997e;
}
